.badge-fire {
    background-color: #f08030;
    color: white;
  }
  
  .badge-water {
    background-color: #6890f0;
    color: white;
  }
  
  .badge-grass {
    background-color: #78c850;
    color: white;
  }
  .badge-poison {
    background-color: #ab3eb9;
    color: white;
  }
  .badge-bug {
    background-color: #b9613e;
    color: white;
  }
  .badge-flying {
    background-color: #a9e6d3;
    color: white;
  }